/* ol>li:nth-child(even){
    color: blue;
}
ol>li:nth-child(odd){
    color: orange;
}
ol>li:last-child{
    color: black;
}
ol>li:first-child{
    color: green;
} */
li:nth-child(odd){
    color: orange;
}
li:nth-child(even):not(:last-child){
    color: blue;
}
li:first-child{
    color: green;
}