input[type="text"]:not(.excepted){
    color: blue;
}
label{
    background-color: orange;
}
input[type="button"]{
    background-color: black;
    color: white;
    border-radius: 10px 0px 0px 5px;
}